.mainbody{
    background-color: chartreuse;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
}

.flag
{
    width: 50%;
    margin: 20px 25px;
}